<div class="demo-container">
  <button
    mat-raised-button
    class="align-middle"
    [matRichTooltip]="richTooltipTemplate"
    matRichTooltipBehavior="persistent"
    [matRichTooltipDisabled]="disabled"
    [matRichTooltipXPosition]="xPosition"
    [matRichTooltipYPosition]="yPosition"
    #tooltip="matRichTooltip"
  >
    <mat-icon>info</mat-icon> Show Persistent Rich Tooltip
  </button>
  <button
    mat-raised-button
    class="align-middle"
    [matRichTooltip]="richTooltipTemplate"
    [matRichTooltipDisabled]="disabled"
    [matRichTooltipXPosition]="xPosition"
    [matRichTooltipYPosition]="yPosition"
  >
    <mat-icon>info</mat-icon> Show Transient Rich Tooltip
  </button>
</div>
<ng-template #richTooltipTemplate>
  <mat-rich-tooltip-content>
    <mat-rich-tooltip-subhead> Rich tooltip </mat-rich-tooltip-subhead>
    <mat-rich-tooltip-supporting-text>
      Rich tooltips bring attention to a particular element of feature that
      warrants the user's focus.
    </mat-rich-tooltip-supporting-text>
  </mat-rich-tooltip-content>
  @if (action) {
  <mat-rich-tooltip-actions>
    <button mat-button>Action</button>
  </mat-rich-tooltip-actions>
  }
</ng-template>
<div>
  <p>Action Buttons:</p>
  <mat-radio-group [(ngModel)]="action">
    <mat-radio-button [value]="true">Show</mat-radio-button>
    <mat-radio-button [value]="false">Hide</mat-radio-button>
  </mat-radio-group>
</div>
<div>
  <p>Disabled:</p>
  <mat-radio-group [(ngModel)]="disabled">
    <mat-radio-button [value]="true">True</mat-radio-button>
    <mat-radio-button [value]="false">False</mat-radio-button>
  </mat-radio-group>
</div>
<div>
  <p>Position:</p>
  <mat-form-field>
    <mat-label>Y Position</mat-label>
    <mat-select [(ngModel)]="yPosition">
      @for (positionOption of yPositionOptions; track positionOption) {
      <mat-option [value]="positionOption">{{ positionOption }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>X Position</mat-label>
    <mat-select [(ngModel)]="xPosition">
      @for (positionOption of xPositionOptions; track positionOption) {
      <mat-option [value]="positionOption">{{ positionOption }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
